<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
</head>
<body>
    {% if projects %}
    <table>
        <thead>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Priority</th>
        </thead>
        {% for project in projects %}
        <tr>
            <td>{{project.startDate}}</td>
            <td>{{project.endDate}}</td>
            <td>{{project.name}}</td>
            <td>{{project.assignedTo}}</td>
            <td>{{project.priority}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Project not found</p>
    {% endif %}
</body>
</html>