<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <ol>
        <h3>First Name : {{student.firstName}}</h3>
        <h3>Last Name : {{student.lastName}}</h3>
        <h3>Test Score : {{student.testScore}}</h3>
        <h3><a href="/delete/{{student.id}}">Delete</a></h3>
        <h3><a href="/update/{{student.id}}">Update</a></h3>
    </ol>
</body>
</html>