<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductItems</title>
    <link rel="stylesheet" href="{% static 'css/productstyle.css '%}">
</head>
<body>
    <div id="main">
        <h1>Products</h1>
        <ol>
            <li><h2>{{product1}}</h2></li><br>
            <li><h2>{{product2}}</h2></li><br>
            <li><h2>{{product3}}</h2></li>
        </ol>
    </div>
</body>
</html>